.general{
    padding-top: 5rem;
    padding-bottom: 5rem;
   
}
.espacio{
    padding-top: 25px;

}

.title-movie {
    font-size: 4rem;
}

.year-movie {
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Secular One', sans-serif;
    color: grey;
}

.description-movie {
    font-size: 1.3rem;
}

.espacio>img {
    max-height: 40rem;
}

#btn-explore {
    background-color:#2603FB;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 50px;
    font-family: 'Secular One', sans-serif;
    font-size: 1.4rem;
    color: #D7FF00;
    border: 0;
}
#btn-explore:hover {
    background-color:#D7FF00;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 50px;
    font-family: 'Secular One', sans-serif;
    font-size: 1.4rem;
    color: #2603FB;
    border: 0;
}
li{
	list-style:none;
    font-size: 1.5rem;
}

tr {
    font-family: 'Secular One', sans-serif;

}
.carrito{
border: 0;
color:#2603FB;
background-color: transparent;
}

tr:nth-child(odd) {
    background-color: #d7ff00;
  }

/*----------Footer--------------------*/
#footer {
    background-color: #2603FB;
    height: 30rem;
    padding-top: 5rem;
    color: #D7FF00;

}

#footer>p {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 8rem;
}

#finfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30%;
}

#footer-logos {
    display: flex;
    flex-direction: column;   
    gap:5%; 
}

#footerf {
    color: #D7FF00;
    padding: -1rem;
}

#fmail {
    width: 20rem;
    height: 3rem;
    background-color: #D7FF00;
    border-radius: 50px;
    border: 0;
}

/* ---------- Linea ------------ */

.line {
    border-top: 2px dashed black;
    height: 2px;
    padding: 0;
    margin:  auto 0 auto; 
  }
