footer {
  background-color: #2603fb;
  padding-top: 1rem;
  padding-bottom: 1rem; 
  color: #d7ff00;

}

footer > p {
  text-align: center;
}

.f1,
.f2,
.f3 {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  padding: 0 8%;
  min-width: 300px;
  width: 33%;
}

.f1 {
  text-align: left;
  padding-bottom: 5rem;
}

.f2 {
  transform: translate(0%, -70%);
}

#footerf {
  color: #d7ff00;
}

#fmail {
  width: 20rem;
  height: 3rem;
  background-color: #d7ff00;
  border-radius: 50px;
  border: 0;
  padding: 1rem;
}

.f3 {
  transform: translate(0%, -20%);
}

.f1>a:link,
.f1>a:visited {
  color: #d7ff00;
  text-decoration: none;
}

.f1>a:hover,
.f1>a:active {
  color: #fafdff;
}
