#section {
    width:100%;
}
/*-------------Intro Web--------------------*/

#intro {
    background-color: #fafdff;
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
    padding-bottom: 5rem;
}

#sec2 {
    border: 1px solid red;
    height: 20rem;
    width: 20rem;
}

/*----------Sección Géneros--------------------*/
#generos {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #E2EAF2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

#gen-interior {
    display: flex;
}
.genero {
    width: 10rem;
    text-align: center;
    margin: 2rem;
}
/*----------Footer--------------------*/
#footer {
    background-color: #2603FB;
    height: 30rem;
    padding-top: 5rem;
}